body {
  font-family: arial;
}

#mount {
  width: 350px;
}

h4, p {
  padding: 0px;
  margin: 4px;
}

.comment {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
}

.comment > a {
  margin-left: 4px;
}

input, textarea {
  width: 95%;
}
